.bg-nav {
  background-color: rgba(120, 6, 6, 0.825);
}

.navizquier {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.navizquier1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navizquier2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navdere {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.text-white {
  text-decoration-line: none;
}
